@page "/alphabet";
@using LangLearn.Services;
@using LangLearn.ViewModels;
@inject IAlphabetService AlphabetService;

<h1>Cyrillic Alphabet Review</h1>
<p>Table of Cyrillic Characters</p>

@if (_alphaMappings == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Cyrillic</th>
                <th>Latin Phoneme</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var alpha in _alphaMappings)
            {
                <tr>
                    <td>@alpha.Cyrillic</td>
                    <td>@alpha.Phoneme</td>
                </tr>
            }

        </tbody>
    </table>
}

@code {
    private List<CyrillicAlphaMapping> _alphaMappings;

    protected override async Task OnInitializedAsync() {
        _alphaMappings = await AlphabetService.GetAlphabet();
    }
}
