@page "/todo"
@inject HttpClient Http
@using LangLearn.ViewModels;

<ul>
    <li> Component-based CSS / SCSS </li>
    <li> Unit test Components </li>
    <li> Unit test Front End Service Layer </li>
    <li> Wire up a simple .NET Core Web API </li>
</ul>

@code { }
