@page "/vocab"
@inject HttpClient Http
@using LangLearn.Services
@using LangLearn.ViewModels;
@inject IVocabService VocabService;

<div class="question-card">
    @if (_isAnswer){ 
        <div class="card-body card-answer">
            @_currentQuestion.Answer
        </div>
    } else {
        <div class="card-body card-question">
            @_currentQuestion.Question
        </div>
    }
</div>

<div class="vocab-actions">
    <button @onclick="ToggleAnswer">
        @_toggleText
    </button>
    
    <button @onclick="GetNextCard">
        Next Question 
    </button>
</div>

@code {
    private VocabQuestion _currentQuestion;
    private bool _isAnswer;
    private string _toggleText = "Show Answer";

    protected override async Task OnInitializedAsync() {
        _currentQuestion = await VocabService.GetNextQuestion();
    }

    private async Task GetNextCard(MouseEventArgs e) {
        _isAnswer = false;
        _currentQuestion = await VocabService.GetNextQuestion();
    }

    private void ToggleAnswer() {
        _isAnswer = !_isAnswer;
        _toggleText = _isAnswer ? "Hide Answer" : "Show Answer";
    }
}
